<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>SpiritBoxSourceCommit</key>
	<string>$(SPIRIT_BOX_SOURCE_COMMIT)</string>
	<key>SpiritBoxSourceDirty</key>
	<string>$(SPIRIT_BOX_SOURCE_DIRTY)</string>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
